.container {
  position: sticky;
  top: 0;
  height: 48px;
  background: #fafafa;
  border-bottom: 1px solid #eee;
}

.main {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.title {
  flex: 1;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  color: #0d0e59;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userBtn {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: 0.2s;
}

.userBtn:hover {
  background: white;
}

.userIcon {
  border-radius: 50%;
}

.loginText {
  color: white;
}

.userName .loginText {
  font-weight: bold;
}

.userName {
  color: #555;
}

.loginBtn {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: #0d0e59;
  border-radius: 4px;
  transition: 0.2s background;
}

.loginBtn:hover {
  background: #0d0e59cc;
}

.hamburgerIcon {
  position: relative;
  display: none;
  width: 24px;
  height: 32px;
  padding-top: 14px;
}

.hamburgerIcon::before,
.hamburgerIcon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background: #0d0e59;
}

.hamburgerIcon::before {
  top: 6px;
}

.hamburgerIcon::after {
  bottom: 6px;
}

.hamburgerBar {
  width: 100%;
  height: 4px;
  background: #0d0e59;
}

@media screen and (max-width: 640px) {
  .userBtn,
  .loginBtn {
    display: none;
  }

  .hamburgerIcon {
    display: block;
  }
}
